.imgProduct {
  height: 180px;
  width: 180px;
  border-radius: 4px;
  margin-right: 16px;
}

.containerProduct {
  padding: 16px;
  flex: 1;
  width: 100%;
  border-bottom: thin solid #eee;
}

.listContainer {
  background-color: #ffffff !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.dividerList {
  margin: 0px !important;
}

.spanPrice {
  font-size: 24px;
  font-weight: 400;
  line-height: 1.25;
  color: #333;
  margin-bottom: 32px;
}

.imgFreeShipping {
  width: 15px;
  margin-left: 10px;
  margin-top: -5px;
}

.price {
  padding-top: 16px;
  padding-bottom: 32px;
}

.detail {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.25;
  color: #333;
}

.country {
  padding-top: 32px;
  padding-left: 16px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.25;
  color: #333;
}

.simbol {
  padding-right: 6px;
}
.ant-spin-dot-item {
  position: absolute;
  display: block;
  width: 9px;
  height: 9px;
  background-color: #ffed18;
  border-radius: 100%;
  transform: scale(0.75);
  transform-origin: 50% 50%;
  opacity: 0.3;
  -webkit-animation: antSpinMove 1s infinite linear alternate;
  animation: antSpinMove 1s infinite linear alternate;
}
.divSpin {
  padding: 16px;
  margin: 16px;
}
