html, body{
  width:100%
  margin 0;
}
.container {
  background-color: #eeeeee;
}
.breadcrumb {
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 14px;
}
.content {
  padding-right: 25%;
  padding-left: 21%;
  padding-bottom: 5%;
}
