html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  min-height: 100%;
}
.navBar {
  background-color: #ffe600;
  padding-top: 10px;
  padding-bottom: 10px;
}
.headerSearch {
  text-align: center;
}
.imgLogo {
  text-align: end;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .inputSearch {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .inputSearch {
    width: 500px;
  }
}
